<a href="https://colab.research.google.com/github/KrishaManandhar/Web-Scraping/blob/main/2_Web_scraping_using_BeautifulSoup_and_read_html.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b>Scrape data from HTML tables into a DataFrame using BeautifulSoup and read_html</b>

## Importing necessary modules

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

## Url contaning html tables with data about world population

In [2]:
popu_url = "https://en.wikipedia.org/wiki/World_population"

## Use 'get' to download contents of webpage in text format

In [3]:
popu_data = requests.get(popu_url).text

## Parsing a document, passing it into the BeautifulSoup constructor <br>
<p>Then the BeautifulSoup object here 'popu_soup' represents the document as a nested data structure</p>

In [6]:
popu_soup = BeautifulSoup(popu_data, "html5lib")

## Finding all the table

In [7]:
popu_table = popu_soup.find_all('table') # here in html table is represented by the tag <table>

## Finding number of tables

In [8]:
len(popu_table) # how many tables were found by checking the length of the table list

24

## Scraping data from HTML tables into a DataFrame using read_html<br>
<p>The function 'read_html' always returns a list of DataFrames so we must pick the one we want out of the list.</p>

In [9]:
pd.read_html(str(popu_table[5]),flavor='bs4')

[   Rank         Country  Population  Area(km2)  Density(pop/km2)  \
 0     1           India  1389637446    3287263               423
 1     2        Pakistan   242923845     796095               305
 2     3      Bangladesh   165650475     148460              1116
 3     4           Japan   124214766     377915               329
 4     5     Philippines   114597229     300000               382
 5     6         Vietnam   103808319     331210               313
 6     7  United Kingdom    67791400     243610               278
 7     8     South Korea    51844834      99720               520
 8     9          Taiwan    23580712      35980               655
 9    10       Sri Lanka    23187516      65610               353

   Population trend[citation needed]
 0                           Growing
 1                   Rapidly growing
 2                   Rapidly growing
 3                    Declining[105]
 4                           Growing
 5                           Growing
 6                           Growing
 7                            Steady
 8                            Steady
 9                           Growing  ]

In [11]:
# Extracting first table of the list
pd.read_html(str(popu_table[5]),flavor='bs4')[0]

,Rank,Country,Population,Area(km2),Density(pop/km2),Population trend[citation needed]
0,1,India,1389637446,3287263,423,Growing
1,2,Pakistan,242923845,796095,305,Rapidly growing
2,3,Bangladesh,165650475,148460,1116,Rapidly growing
3,4,Japan,124214766,377915,329,Declining[105]
4,5,Philippines,114597229,300000,382,Growing
5,6,Vietnam,103808319,331210,313,Growing
6,7,United Kingdom,67791400,243610,278,Growing
7,8,South Korea,51844834,99720,520,Steady
8,9,Taiwan,23580712,35980,655,Steady
9,10,Sri Lanka,23187516,65610,353,Growing